<!DOCTYPE HTML>
{% load static %}
<html>
<head>
    <title>{% block title %}BookApp{% endblock %}</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!--[if lte IE 8]>
    <script src="{% static 'BookApp/assets/js/ie/html5shiv.js' %}"></script><![endif]-->
    <link rel="stylesheet" href="{% static 'BookApp/assets/css/main.css' %}"/>
    <!--[if lte IE 9]>
    <link rel="stylesheet" href="{% static 'BookApp/assets/css/ie9.css' %}"/><![endif]-->
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="{% static 'BookApp/assets/css/ie8.css' %}"/><![endif]-->
</head>
<body>


<div id="wrapper">

    {% block header %}
    {% include 'inc/_header.html' %}
    {% endblock %}

    {% block menu %}
    {% include 'inc/_menu.html' %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block sidebar %}
    {% include 'inc/_sidebar.html' %}
    {% endblock %}

</div>
    {% block footer %}
    {% endblock %}


<script src="{% static 'BookApp/assets/js/jquery.min.js' %}"></script>
<script src="{% static 'BookApp/assets/js/skel.min.js' %}"></script>
<script src="{% static 'BookApp/assets/js/util.js' %}"></script>

<script src="{% static 'BookApp/assets/js/ie/respond.min.js' %}"></script>
<script src="{% static 'BookApp/assets/js/main.js' %}"></script>

</body>
</html>