<section id="menu">

    <!-- Search -->
    <section>
        <form class="search" method="get" action="#">
            <input type="text" name="query" placeholder="Поиск по названию книги"/>
        </form>
    </section>

    <!-- Links -->
    <section>
        <ul class="links">
            <li>
                <a href="#">
                    <h3>2023</h3>
                    <p>Книги, прочитанные за 2023 год</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <h3>2022</h3>
                    <p>Книги, прочитанные за 2022 год</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <h3>2021</h3>
                    <p>Книги, прочитанные за 2021 год</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <h3>2020</h3>
                    <p>Книги, прочитанные за 2020 год</p>
                </a>
            </li>
        </ul>
    </section>

    {% if request.user.is_authenticated %}
    <section>
        <ul class="actions vertical">
            <li>Добро пожаловать, {{ user.username }}</li>
            <li><a href="{% url 'logout' %}" class="button fit">Выйти</a></li>
        </ul>
    </section>
    {% else %}
    <section>
        <ul class="actions vertical">
            <li><a href="{% url 'login' %}" class="button fit">Авторизация</a></li>
            <li><a href="{% url 'register' %}" class="button fit">Регистрация</a></li>
        </ul>
    </section>
    {% endif %}

</section>