{% load static %}
{% load years %}
<section id="menu">
    {% if request.user.is_authenticated %}
    <section>
        <ul class="actions vertical">
            <li>Добро пожаловать, {{ user.username }} | <a href="{% url 'logout' %}" style="border-bottom: none">
                Выйти</a></li>
        </ul>
        <form class="search" method="get" action="{% url 'search_readbooks' %}">
            <input type="text" name="s" placeholder="Поиск по прочитанным книгам" style="margin-bottom: 25px;"/>
        </form>
</section>
    {% show_years %}

    {% else %}
    <section style="text-align: center;">
        <h1>Добро пожаловать на сайт!</h1>
        <img src="{% static 'BookApp/images/bookworm.jpg' %}" style="height: 140px; border-radius: 80px;">
        <h1>Книжный червь</h1>
    </section>
    <section>
        <ul class="actions vertical">
            <li><a href="{% url 'login' %}" class="button fit">Авторизация</a></li>
            <li><a href="{% url 'register' %}" class="button fit">Регистрация</a></li>
        </ul>
    </section>
    {% endif %}

</section>