{% load static %}
{% load menu %}
{% load authors %}
<section id="sidebar">

    <!-- Intro -->
    <section id="intro">
        <img src="{% static 'BookApp/images/bookworm.jpg' %}" style="height: 140px; border-radius: 80px;">
        <header>
            <h2>Книжный червь</h2>
            <p>Читайте вместе с нами</p>
        </header>
    </section>

    <!-- Posts List -->
        {% show_menu %}

        {% show_authors %}
    <!-- About -->
    <section class="blurb">
        <h2>О сайте</h2>
        <p>Это книжный сайт. Здесь Вы можете отслеживать свой книжный прогресс,
            а также добавить интересующие Вас книги для будущего чтения.</p>
        <ul class="actions">
            <li><a href="https://github.com/MihailTarbeev?tab=repositories" class="button">Смотри больше</a></li>
        </ul>
    </section>

    <!-- Footer -->
    <section id="footer">
        <ul class="icons">
            <li><a href="https://vk.com/mixbeev1000" class="fa-vk"><span class="label">Twitter</span></a></li>
            <li><a href="https://www.instagram.com/mihajlo_turb/" class="fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="https://github.com/MihailTarbeev" class="fa-github"><span class="label">RSS</span></a></li>
        </ul>
        <p class="copyright">&copy; Пет-проект Михаила</p>
    </section>
</section>