{% load static %}
{% load menu %}
{% load authors %}
<section id="sidebar">

    <section id="intro">
        <img src="{% static 'BookApp/images/bookworm.jpg' %}" style="height: 140px; border-radius: 80px;">
        <header>
            <h2>Книжный червь</h2>
            <p>Читайте вместе с нами</p>
        </header>
        <h2 style="text-transform: none">За всё время Вами прочитано книг - <span
                style="font-family: Roboto, sans-serif;">{{ cnt_all }}</span></h2>
        <a href="{% url 'add_read_books' %}" class="button small">Добавить книгу</a>
        <div style="margin-top: 30px;">
            <a href="{% url 'add_author' %}" class="button small">Добавить автора</a>
            <a href="{% url 'list_authors' %}" class="button small" style="margin-left: 30px;">Удалить автора</a>
        </div>
    </section>


    {% show_menu %}

    {% show_authors %}


    <section class="blurb">
        <h2>О сайте</h2>
        <p style="text-indent: 10px;">Это книжный сайт. Здесь Вы можете отслеживать свой книжный прогресс,
            а также добавить интересующие Вас книги для будущего чтения.</p>
    </section>

    <section id="footer">
        <ul class="icons">
            <li><a href="https://vk.com/mixbeev1000" class="fa-vk"><span class="label">Twitter</span></a></li>
            <li><a href="https://www.instagram.com/mihajlo_turb/" class="fa-instagram"><span
                    class="label">Instagram</span></a></li>
            <li><a href="https://github.com/MihailTarbeev" class="fa-github"><span class="label">RSS</span></a></li>
        </ul>
        <p class="copyright">&copy; Пет-проект Михаила</p>
    </section>
</section>