{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ title }}
{% endblock %}
{% block content %}


<div id="main">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li
                {% if message.tags %}
                class="{{ message.tags }}"
                {% endif %}>
            {{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    <h2 style="text-transform: none">У автора {{ name }} прочитано книг - <span
            style="font-family: Roboto, sans-serif;">{{ cnt }}</span></h2>


    {% for book in books %}

    {% include 'inc/_post.html' %}

    {% empty %}
    <h1 style="text-transform: none">Вы ещё не добавили ни одной книги.</h1>
    {% endfor %}

    {% include 'inc/_pagination.html' %}

</div>
{% endblock %}
