{% extends 'base.html' %}
{% load static %}

{% block title %}
Прочитанное за {{ year }} год
{% endblock %}
{% block content %}

<div id="main">

    <h1>Книги прочитанные за <span style="font-family: Roboto, sans-serif; text-transform: none">{{ year }}</span> год</h1>
    <h1 style="text-transform: none;">Вами прочитано книг - {{ cnt }}</h1>
    {% for book in books %}
    {% include 'inc/_post.html' %}
    {% empty %}
    <h1 style="text-transform: none">За этот год Вы не прочитали ни одной книги</h1>
    {% endfor %}


    {% include 'inc/_pagination.html' %}

</div>

{% endblock %}

{% block sidebar %}
{% endblock %}

{% block footer %}

{% include 'inc/_footer.html' %}

{% endblock %}