{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ book.title }}
{% endblock %}
{% block content %}

<div id="main">
    <article class="post" style="margin-bottom: 0;">
        <header>
            <div class="title">
                <h2>{{ book.title }}</h2>
                <p style="text-transform: none"><a href="{{ book.author.get_absolute_url }}"
                                                   style="border-bottom: none;">
                    {{ book.author }}</a></p>
                <p style="font-family: Roboto, sans-serif; text-transform: none">
                    Дата прочтения: {{ book.date_of_reading }}</p>
                <p style="font-family: Roboto, sans-serif; text-transform: none">Категория:
                    <a href="{{ book.category.get_absolute_url }}" style="border-bottom: none;">
                        {{ book.category }}</a></p>
            </div>
            <div class="meta" style="display:flex; justify-content: center; align-content: center;">
                {% if book.photo %}
                <img src="{{ book.photo.url }}" width="200" alt="{{ book.title }}">
                {% else %}
                <img src="{% static 'BookApp/images/book.jpg' %}" width="200" alt="{{ book.title }}">
                {% endif %}
            </div>
        </header>
        <p>{{ book.feedback|safe }}</p>
        <footer>
            <ul class="stats" style="margin-bottom: 0;">
                <li>Ваша оценка</li>
                <li>{{ book.estimation }} / 10</li>
            </ul>
        </footer>
    </article>
    <a href="javascript:history.back()" class="button" style="margin-top: 30px;">Назад</a>
</div>

{% endblock %}

{% block sidebar %}
{% endblock %}

{% block footer %}

{% include 'inc/_footer.html' %}

{% endblock %}